* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}

/* utils */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h2 {
    text-align: center;
    vertical-align: middle;
}

.col,
[class*="col-"] {
    flex-grow: 0;
    flex-shrink: 0;
    /* flex-basis: auto; */

    /* solo per visualizzare le colonne */
    border: 1px solid white;
    background-color: lightblue;
    min-height: 50px;

}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}